
* { margin: 0;
    padding: 0;
}

@keyframes drowning {
    from {background-position: 0 0;}
    to {background-position: 100% 100%;}
}
@keyframes style {
    from {color: #35303e;}
    to {color:rgb(20, 85, 85)}
}

body {
    background-image: linear-gradient(to top, #1c3d77 0%,#4d1515 37%, rgb(90, 103, 103) 67%, #112121);
    background-size: 300% 300%;
    animation: drowning 7s infinite alternate;
    }

img{
    border-end-start-radius: 80px;
    border-top-right-radius: 80px;
    border-end-end-radius: 30px;
    width: 320px;
    height: 320px;
}

h1 {
    color:whitesmoke;
    margin-top: 31px;
    margin-bottom: 8px;
    margin-top: 18px;
}

p {
    color: whitesmoke;
}

ul {
    margin-top: 35px;
}

li {
    margin-top: 18px;
    list-style: none;
}

a {
    background-color: limegreen;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
    border-radius: 20%;
    box-shadow: 10px 6px 5px rgb(34, 0, 0);
}

a:hover {
    background-color: rgb(156, 156, 156);
    color: rgb(205, 50, 50);
}

footer {
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-block-end: 20px;
    text-shadow: 8px  5px  5px rgb(48, 0, 0);
   
}

.container {
    width: 320px;
    text-align: center;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
    animation: 5s;
}
